
<div class="" style="background-image: url('{{site.img}}/content/condor/hero.jpg'); background-color: #4E4A47; background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container container--xxl vpad--xxxl text--left text--xxl text--black">
    <div class="sub-title sub-title--lg">Nonstop von Frankfurt ins Inselparadies</div>
    <p>Condor bringt Sie zwischen November und April jetzt schon ab 219,99 € direkt nach Martinique.</p>
    <div class="space--md"></div>
    <a href=" https://m.exactag.com/cl.aspx?tc=9b5c47eff0a1d1c37f3322252885c89a&url=https://www.condor.com/de/fluege/martinique/fort-de-france/" target="_blank" class="btn btn--orange" >Los geht's</a>
  </div>
</div>
