

  <div class="" style="background-color: rgba(79, 76, 73, 1);">
    <div class="container vpad--xl text--left text--xxl text--white">

<div class="bob bob--swap">
<div class="bob__img">
  <a href="#image-link">

    <div class="bg-img bg-img--16-9 bv-img-condor" style="background-image: url('{{site.img}}/content/condor/condor.jpg');">
       <div class="bv-badge-condor condor-title condor-title--sm condor-text--bold " style="letter-spacing:-2px!important; line-height:.8em;padding-top:4px;">
        <span class="condor-text condor-text--normal condor-text--xxxl">ab</span><br>249,<span class="condor-title condor-text--bold condor-title--xs">99€</span>
        <br><div class="condor-text condor-text--normal condor-text--xxxl" style="line-height:1.1em;">one-way</div>
      </div>
      <div class="text text--sm text--white text--bold bv-copyright" >© Matteo Colombo – CANDEO</div>

    </div>
  </a>
</div>
<div class="bob__text condor-text condor-text--xxxl">
  <img class="bv-logo-condor " src="{{site.img}}/content/condor/condor-transp.svg">
  <div class="condor-title condor-title--md condor-text--semi">Nonstop von Frankfurt ins Inselparadies</div>
  <p>Condor bringt Sie zwischen November und April schon ab 249,99 € one-way direkt nach Martinique.</p>
    <div class="space--lg"></div>
  <a href=" https://m.exactag.com/cl.aspx?tc=9b5c47eff0a1d1c37f3322252885c89a&url=https://www.condor.com/de/fluege/martinique/fort-de-france/" target="_blank" class="btn btn--condor" >Los geht's</a>

</div>

    </div>
  </div>
</div>
