
// need to put a friendly reminder where the g fonts snippet needs to go in the whole site
// additional families need to included in includes > page > head

$font-core: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-title-01: 'Lato', 'Helvetica Neue', Arial, sans-serif;
$font-title-02: 'Cinzel', 'Helvetica Neue', serif;
$font-title-03: 'Cinzel Decorative', cursive;
$font-condor: 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
